AddType image/svg+xml .svg .svgz
AddEncoding gzip svgz

#RewriteEngine on

#RewriteCond %{REQUEST_URI} !/serov/
#RewriteRule ^(.*)$ http://edu.tretyakov.ru/serov/$1 [R=permanent,L]

RewriteCond %{HTTP_USER_AGENT} “ipod|iphone|ipad|blackberry”[NC]
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ http://m.yoursite.com%{REQUEST_URI} [R,L]
