AddType image/svg+xml .svg .svgz
AddEncoding gzip svgz

#RewriteEngine on

#RewriteCond %{REQUEST_URI} !/serov/
#RewriteRule ^(.*)$ http://edu.tretyakov.ru/serov/$1 [R=permanent,L]

RewriteCond %{HTTP_USER_AGENT} (?i:midp|samsung|iphone|android)
RewriteRule ^(/)?$ http://yandex.ru/ [R=301]
