<div id="about">
	<aside class="line">
		<p>О проекте</p>
	</aside>
	<main class="info">
		<div class="left">
			<img src="img/about/logo.png" class="logo">
			<h1 class="header">Уроки  Валентина Серова</h1>
			<span class="idea">
				<h2 class="subheader">Идея</h2>
				<p>Игровая интернет-программа, открывающая новый раздел "Образование онлайн" на официальном сайте Третьяковской галереи. С помощью онлайн-уроков можно побывать в воображаемой мастерской художника и раскрыть особенности его мастерства.</p>
				<p>Валентин Серов известен, в первую очередь, как непревзойденный мастер портрета, и потому так интересно узнать о его произведениях в других жанрах. Исторические сюжеты, басни, античные мифы и легенды  - все это увлекало художника и вдохновляло его на творческие поиски</p>
				<p>Программа приурочена к выставочному проекту "Валентин Серов. К 150-летию со дня рождения"</p>
			</span>
			<span class="forWho">
				<h2 class="subheader">Для кого</h2>
				<p>Игру можно порекомендовать как учащимся средней школы, так и любознательным взрослым</p>
			</span>
		</div>
		<div class="right">
			<span class="workOn">
				<h2 class="subheader">над проектом работали</h2>
				<p><b>Генеральный директор</b> З.И.Трегулова</p>
				<p><b>Заместитель генерального директора по просветительской и издательской деятельности</b> М.Э.Эльзессер</p>
				<p><b>Заведующий редакционно-издательским отделом</b> И.В.Лазебникова</p>
				<p><b>Заведующий сектором мультимедиа и интернет-проектов</b> Т.Ю.Николаева</p>
				<p><b>Кураторы выставочного проекта</b> О.А.Атрощенко, М.В.Кривенко, Н.А.Мусянкова, М.С.Чижмак</p>
				<p><b>Куратор образовательного проекта и автор текстов</b> Е.Л.Герасимова</p>
				<p><b>Подготовка материалов</b> Е.В.Гриценко, А.Г.Осипова</p>
				<p><b>Принимали участие:</b> Л.А.Бобкова, О.Л.Китаева, Н.Л.Титова</p>
<!-- 				<p><b>Техническая реализация:</b> ИП Артамонов А.А., художественная концепция Л.О. Кузьмина, программирование А.А.Артамонов </p> -->
			</span>
			<span class="materials">
				<h2 class="subheader">материалы</h2>
				<p>В работе над проектом были использованы изобразительные материалы и фрагменты аудиозаписей из различных интернет-ресурсов</p>
				<img src="img/about/vtb.png">
				<a href="http://tretyakov.ru">www.tretyakov.ru</a>
				<p>© Государственная Третьяковская галерея. Москва, 2015</p>
			</span>
		</div>
	</main>
</div>
