ul.accordion {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
  polygon{
    transition: all 1600ms ease;
  }
  & li {
    float: left;
    width: 98px;
    height: 100%;
    position: relative;
    background-image: url(../../../img/controll/closed-eye.png);
    background-color: #C41230;
    background-repeat: no-repeat;
    background-position: 20px 5%;
    border-left: 2px solid #333333;
    border-right: 1px solid #fff;
    transition: all 500ms ease;

    &:nth-child(1){
      z-index:0;
    }

    &:nth-child(2){
      z-index:1;
    }

    &:nth-child(3){
      z-index:2;
    }

    >p{
      transform: rotate(-90deg);
      transform-origin: 11.2em 10em;
      font-weight: 400;
      font-size: 1.5em;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      width: 20em;
    }

    div.image {
      display: block;
      overflow: hidden;
      width: 90vw;
      height: 100%;
      position: relative;
      margin-left: 95px;
/*      &.opened{
        table{
          display: none;
        }
      }*/

      .circle{
        position: absolute;
        height: 310px;
        width: 310px;
        background-color: rgba(81,81,81,0);
        border-radius: 100%;
        &.hover{
          background-color: rgba(81,81,81,0.9);

          p{
            display: block;
          }
        }
        &.bottom{
          right: 10%;
          bottom: 20px;

          p{
            padding: 10% 20% 0;
          }
        }
        &.top{
          left: 2%;
          top: 20px;

          p{
            padding: 40% 20% 0;
          }
        }

        p{
          color: #fff;
          text-align: center;
          display: none;
        }
      }

      a{
        position: absolute;
        margin: 0;
        padding: 0;
        border: none;
        width: 104px;
        height: 88px;
        background-color: rgba(0,0,0,0);
        background-repeat: no-repeat;
        display: none;
        z-index: 2;


        &.goTop{
          /*background-image: url(../../../img/buttons_read.svg);*/
            top: 1%;
            left: calc(50% - 77px);
        }
        &.goBottom{
          bottom: 15%;
          left: calc(50% - 77px);
        }
      }

	  /*
      & img{
        height: 110%;
        width: 94.5%;
      }
	  */
	  & .responsive-image {
		width:100%;
		height:100%;
		background-size:cover;
	  }
    }

    &.active{
      width: calc(100% - 197px);
      background-image: url(../../../img/controll/open-eye.png);
      background-position: 25px 5%;
      background-color: #474747;
/*
      #preloader{
        margin-left: 98px;
        width: calc(100% - 98px);
        position: absolute;
        top: 0;
      }
*/
      & div.image {
        border-left: 1px solid #333333;

        a{
          display: block;
        }
      }
    }
  }
}
@media screen and (max-height:924px) {

  ul.accordion li div.image .circle.bottom {
    right: 16%;
  }

}

@media screen and (max-height:768px) {
    ul.accordion li div.image .circle {
      &.bottom{
        right: 15%;
      }
  }

}
