<table id="menu">
	<tr id="mainMenu">
		<td class="leftSide">
			<div class="icon">
				<div class="top"></div>
				<div class="middle"></div>
				<div class="left"></div>
			</div>
			<div class="leftMenu hide">
				<div class="overlay"></div>
				<div class="menu">
					<div class="container">
						<a class="item icon icon-game">Игры</a>
						<a href="#games/antiq" class="item active">Античные мотивы</a>
						<a href="#games/story" class="item">ИЛЛЮСТРАЦИИ К БАСНЯМ</a>
						<a href="#games/history" class="item">СТРАНИЦЫ РУССКОЙ ИСТОРИИ</a>
						<a class="item icon icon-library">Библиотека</a>
						<div class="divider blue"></div>
						<a href="#book/antiq" class="item">Мифология.Путешествия</a>
						<a href="#book/story" class="item">Басни Крылова</a>
						<a href="#book/history" class="item">История Петра 1</a>
						<!-- <a href="#" class="item icon icon-bonus">Бонус</a> -->
						<div class="divider pink"></div>
					</div>
				</div>
			</div>
		</td>
		<td class="breadcrumbs"></td>
		<td class="rightSide">
			<div class="selectSection">
				<p>Обнулить результат?</p>
				<a data-id="succesMenuButton" id="succesMenuButton">Да</a>
				<a data-id="revertMenuButton" id="revertMenuButton">Нет</a>
			</div>
			<button data-id="reloadButton" id="reloadButton">
				<img data-id="reloadButton" src="img/controll/reload.png">
			</button>
<!-- 			<button data-id="turnOfSound" id="turnOfSound">
				<img data-id="turnOfSound" id="soundImage" src="img/controll/volume.png">
			</button> -->
<!-- 			<button>
				<img src="img/controll/help.png">
			</button> -->
			<button data-id="aboutButton" id="aboutButton">О проекте</button>
			<button data-id="goMenu" id="goMenu">
				<img data-id="goMenu" src="img/controll/menu.png">
			</button>
		</td>
	</tr>
	<tr id="copyRight">
		<td colspan="3">© Государственная Третьяковская  галерея, 2016</td>
	</tr>
	<audio id="audio" loop>
		<source src="audio/sound.mp3" type="audio/mpeg">
	</audio>
</table>
