<div id="preloader">
	<div class="loader">
		<div class="loader-bg">
			<div class="text"></div>
		</div>
		<!-- Step one -->
		<div class="spiner-holder-one animate-0-25-a">
			<div class="spiner-holder-two animate-0-25-b">
				<div class="loader-spiner" style=""></div>
			</div>
		</div>
		<div class="spiner-holder-one-image animate-0-25-a">
			<div class="spiner-holder-two-image animate-0-25-b">
				<div class="loader-image-1" height="150" width="150"></div>
			</div>
		</div>
		<!-- Step two -->
		<div class="spiner-holder-one animate-25-50-a">
			<div class="spiner-holder-two animate-25-50-b">
				<div class="loader-spiner"></div>
			</div>
		</div>
		<div class="spiner-holder-one-image animate-25-50-a">
			<div class="spiner-holder-two-image animate-25-50-b">
				<div class="loader-image-2" height="150" width="150" ></div>
			</div>
		</div>
		<!-- Step three -->
		<div class="spiner-holder-one animate-50-75-a">
			<div class="spiner-holder-two animate-50-75-b">
				<div class="loader-spiner"></div>
			</div>
		</div>
		<div class="spiner-holder-one-image animate-50-75-a">
			<div class="spiner-holder-two-image animate-50-75-b">
				<div class="loader-image-3" height="150" width="150"></div>
			</div>
		</div>
		<!-- Step fhour -->
		<div class="spiner-holder-one animate-75-100-a">
			<div class="spiner-holder-two animate-75-100-b">
				<div class="loader-spiner"></div>
			</div>
		</div>
		<div class="spiner-holder-one-image animate-75-100-a">
			<div class="spiner-holder-two-image animate-75-100-b">
				<div class="loader-image-4" height="150" width="150" ></div>
			</div>
		</div>
	</div>
</div>
